<!doctype html>
<html lang="en">

<head>
	<title>Edit Your <%= ecropname %>'s' details</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/style3.css">

</head>

<body>

    <% var k = 0; %>

  <% for(var j=0; j < farmer.ecropdata.length; j++) { %>
 
  <% if(farmer.ecropdata[j].ecname.trim() === ecropname.trim()){ %> 
      
    <% k=j %>

    <% } %>
 
 
 <%  } %>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Hi <%= farmer.name %> ,edit your <%= ecropname %>'s details </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row mb-5">
							<div class="col-md-12">
								<div class="form-group">
									<a href="/farmer/<%= farmer._id %>"> <input type="submit" value="Go Back" class="btn btn-primary"></a>
									<div class="submitting"></div>
								</div>
							</div>
							
						</div>
						<div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Edit <%= ecropname %></h3>
									
									<form action="/farmer/<%= farmer._id %>/<%= farmer.ecropdata[k].ecname %>/<%=k %>/update?_method=PUT" method="POST" enctype="multipart/form-data" id="contactForm" name="TripFORM" class="contactForm">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="name">Change Your Crop's Name</label>
													<input type="text" class="form-control" name="ecname" id="ecname"
														placeholder="" required value="<%= farmer.ecropdata[k].ecname %>">
												</div>
												<div class="form-group">
													<label class="label" for="name">Change Your place of cultivation</label>
													<input type="text" class="form-control" name="placec" id="placec"
														placeholder="" required value="<%= farmer.ecropdata[k].placec %>">
												</div>
												<div class="form-group">
													<label class="label" for="name">Change Your start date of cultivation</label>
													<input type="text" class="form-control" name="start" id="start"
														placeholder="" required value="<%= farmer.ecropdata[k].start %>">
												</div>
												<div class="form-group">
													<label class="label" for="name">Change Your end date of cultivation</label>
													<input type="text" class="form-control" name="end" id="end"
														placeholder="" required value="<%= farmer.ecropdata[k].end %>">
												</div><div class="form-group">
													<label class="label" for="name">Change Your place to transport</label>
													<input type="text" class="form-control" name="placet" id="placet"
														placeholder="" required value="<%= farmer.ecropdata[k].placet %>">
												</div>
												<div class="form-group">
													<label class="label" for="name">Change Your Blockchain url</label>
													<input type="text" class="form-control" name="blockurl" id="blockurl"
														placeholder="" required value="<%= farmer.ecropdata[k].blockurl %>">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="">Additional info change</label>
													<textarea type="text" class="form-control" cols="50" rows="6" name="extrainfo" id="extrainfo"
														placeholder=""  required > <%= farmer.ecropdata[k].extrainfo %></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="image">Upload more photos</label>
													<input type="file" class="form-control" name="image" id="image"
														placeholder="exportedcrops's images" multiple required>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="submit" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img" style="background-image: url(images/justgo.jpg);">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

</body>

</html>
