

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title><%= farmer.name %>'s page</title>

    
    

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css" />
    <link rel="stylesheet" href="css/templatemo-style.css" />
    <link rel="stylesheet" href="css/owl.css" />
    <link rel="stylesheet" href="css/lightbox.css" />
  </head>

  

  <body>
    


    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#">
                
                <!-- <img src="\images\author-image.jpg" alt="" /> -->
                <img src="data:image/<%=farmer.imgprofile.contentType%>;base64,
                    <%=farmer.imgprofile.data.toString('base64')%>" alt="" />
              
              </a>  <!--yaha par user ka image hoga bc-->
            </div>
            <div class="author-content">
              <h4> 

              <%= farmer.name %> 
              
              </h4>
              <span> <%= farmer.farmerstate %> </span>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">My Crops for export</a></li>
                <!-- <li><a href="#section2">My Bucketlist</a></li> -->
                <!-- <li><a href="#section3">My recommnedations </a></li> -->
                <!-- <li><a href="#section4">Contact Me</a></li> -->
              </ul>
            </nav>
            <div class="copyright-text">
              <p>Copyright 2022 safeTracker</p>
            </div>
          </div>
        </div>
      </div>

      <section class="section about-me" data-section="section1" >
        <div class="container">
          <div style="padding-bottom : 40px " class="section-heading">
            <h2>The crops that I Grow - 
              <div style="float: right; margin-left: 5px;" class="white-button">
                <button id="blockchain" onclick="" >Click me</button>
                <p id='userWallet' class='text-lg text-gray-600 my-2'></p>
              </div>
              <% if (farmer.farmerstatus) { %> 
              <div style="float: right; " class="white-button">
                <a href="/logout/<%= farmer._id %>">Log Out</a>
              </div>
              <div style="float: right; margin-right: 5px;" class="white-button">
                <a href="/farmer/<%= farmer._id %>/editp">Edit Your Profile</a>
              </div>
              <% } else{%>
                <div style="float: right;" class="white-button">
                  <a href="/signup.ejs">Create Your Own Account</a>
                </div>
                <div style="float: right; margin-right: 4px; " class="white-button">
                  <a href="/safetracker.ejs">Go Back</a>
                </div>

                <% } %>

            </h2>
            <div class="line-dec"></div>
            <span
              ><%= farmer.cropsinfo %></span>
            
          </div>
          <div class="section-heading" >
            <h2>My Crops for export 

            <% if(farmer.farmerstatus) { %>  
              
            <div style="float: right;" class="white-button">
              <a href="/newcrop/<%= farmer._id %>">Add New A crop</a>
              <!-- <a href="#">Add New A crop</a> -->
            </div>

          <% } %>
            
          
        </h2>

        <% if (farmer.ecropdata.length > 0 ) { %> 

          <% for(var i = 0; i < farmer.ecropdata.length; i++ ) { %> 
          <div class="line-dec"></div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">


                <img src="data:image/<%= farmer.ecropdata[i].img[0].contentType%>;base64,
                  <%=farmer.ecropdata[i].img[0].data.toString('base64')%>" alt="" />
                  
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4><%= farmer.ecropdata[i].ecname  %></h4>
                  <p style="text-overflow:ellipsis; overflow: hidden; white-space: nowrap; ">
                    <%= farmer.ecropdata[i].extrainfo%>
                  </p>
                  <div class="white-button">
                    <a href="/showpage/<%= farmer._id %>/<%= farmer.ecropdata[i].ecname %>">Details</a>
                  </div>
                  
                  <% if(farmer.farmerstatus) { %>
                  
                  <form action="/delete/<%= farmer._id %>/<%= i %>/<%= farmer.ecropdata[i].ecname %>?_method=DELETE" method="POST" >
                    <div class="white-button">
                       <button>Delete This crop</button>
                    </div>
                  </form>
                  <% } %>
                </div>
              </div>
            </div>

          </div>
          
          <% } %>

      
        
      <% } else{ %> 
        <% if (farmer.farmerstatus) { %> 
          <div class="line-dec"></div>
          <div><span><h4>Start a journey with us, Add a Crop!!!</h4></span></div>
        <% } else{ %> 
          <div class="line-dec"></div>
          <div><span><h4>NO crops exported yet!</h4></span></div>        
          
          
        <% } %>

      
      
      <% } %>

            
            


        <!-- break break break break -->
        
    

         

          

        
          


        </div>
      </section>

       <!-- <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>What I’m good at?</h2>
            <div class="line-dec"></div>
            <span
              >Curabitur leo felis, rutrum vitae varius eu, malesuada a tortor.
              Vestibulum congue leo et tellus aliquam, eu viverra nulla semper.
              Nullam eu faucibus diam. Donec eget massa ante.</span
            >
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>HTML5 &amp; CSS3</h4>
                <p>
                  Phasellus non convallis dolor. Integer tempor hendrerit arcu
                  at bibendum. Sed ac ante non metus vehicula congue quis eget
                  eros.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="second-service-icon service-icon"></div>
                <h4>Creative Ideas</h4>
                <p>
                  Proin lacus massa, eleifend sed fermentum in, dignissim vel
                  metus. Nunc accumsan leo nec felis porttitor, ultricies
                  faucibus purus mollis.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="third-service-icon service-icon"></div>
                <h4>Easy Customize</h4>
                <p>
                  Integer suscipit condimentum aliquet. Nam quis risus metus.
                  Nullam faucibus quam eget arcu pretium tincidunt. Nam libero
                  dui.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="fourth-service-icon service-icon"></div>
                <h4>Admin Dashboard</h4>
                <p>
                  Vivamus et dui a massa venenatis fringilla. Proin lacus massa,
                  eleifend sed fermentum in, dignissim vel metus. Nunc accumsan
                  leo nec felis porttitor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <!-- <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>My Work</h2>
            <div class="line-dec"></div>
            <span
              >Aenean sollicitudin ex mauris, lobortis lobortis diam euismod sit
              amet. Duis ac elit vulputate, lobortis arcu quis, vehicula
              mauris.</span
            >
          </div>
          <div class="row">
            <div class="isotope-wrapper">
              <form class="isotope-toolbar">
                <label
                  ><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>all</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="people"
                    name="isotope-filter"
                  />
                  <span>people</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="nature"
                    name="isotope-filter"
                  />
                  <span>nature</span></label
                >
                <label
                  ><input
                    type="radio"
                    data-type="animals"
                    name="isotope-filter"
                  />
                  <span>animals</span></label
                >
              </form>
              <div class="isotope-box">
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-01.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-01.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>First Title</h4>
                      <span>free to use our template</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-02.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-02.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Second Title</h4>
                      <span>please tell your friends</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-03.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-03.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Item Third</h4>
                      <span>customize anything</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-04.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-04.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Item Fourth</h4>
                      <span>Re-distribution not allowed</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-05.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-05.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Fifth Awesome</h4>
                      <span>Ut sollicitudin risus</span>
                    </figcaption>
                  </figure>
                </div>

                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="images/portfolio-06.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="images/portfolio-06.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>Awesome Sixth</h4>
                      <span>Donec eget massa ante</span>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>  -->

      <!-- <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>Contact Me</h2>
            <div class="line-dec"></div>
            <span
              >yaha par aadmi chahe toh contact kar sakta hai user ko</span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div> -->

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="js/isotope.min.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/custom.js"></script>
    

    
    <script>
      window.userWalletAddress = null
      const loginButton = document.getElementById('blockchain')
      const userWallet = document.getElementById('userWallet')
  
      function toggleButton() {
        if (!window.ethereum) {
          loginButton.innerText = 'MetaMask is not installed'
          loginButton.classList.remove('bg-purple-500', 'text-white')
          loginButton.classList.add('bg-gray-500', 'text-gray-100', 'cursor-not-allowed')
          return false
        }
  
        loginButton.addEventListener('click', loginWithMetaMask)
      }
  
      async function loginWithMetaMask() {
        const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' })
          .catch((e) => {
            console.error(e.message)
            return
          })
        if (!accounts) { return }
  
        window.userWalletAddress = accounts[0]
        userWallet.innerText = window.userWalletAddress
        loginButton.innerText = 'Sign out of MetaMask'
  
        loginButton.removeEventListener('click', loginWithMetaMask)
        setTimeout(() => {
          loginButton.addEventListener('click', signOutOfMetaMask)
        }, 200)
      }
  
      function signOutOfMetaMask() {
        window.userWalletAddress = null
        userWallet.innerText = ''
        loginButton.innerText = 'Sign in with MetaMask'
  
        loginButton.removeEventListener('click', signOutOfMetaMask)
        setTimeout(() => {
          loginButton.addEventListener('click', loginWithMetaMask)
        }, 200)
      }
  
      window.addEventListener('DOMContentLoaded', () => {
        toggleButton()
      });
    </script>

  


      
      

    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
